@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
	font-family: 'Open Sans', sans-serif;
	/* overflow: hidden; */
}

.topnav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    list-style-type: none;
	text-transform: uppercase;
	font-weight: 600;
}

.topnav ul li {
    text-align: center;
    align-items: center;
	cursor: pointer;
}


.vid-playing-overlay {
	opacity: 0.3 !important;
}

.vid-playing-content {
	bottom: 100px;
}

.vid-playing-content.hidden {
	transition: height 500ms 500ms, opacity 500ms 0ms;
	opacity: 0.0;
	display: none;
}



.__floater__title {
    color: #0d507b !important;
    font-weight: 600;
}

table {
	border-collapse: collapse;
}

table.stock-information tr {
	border-bottom: solid 1px #000;
}

table tr:nth-last-child(-n+2) {
	border-bottom: unset;
}

table tr:nth-last-child(-n+2) td {
	padding-bottom: 10px;
}

table.stock-information tr:nth-last-child(2) td {
	font-size: 12px;
	color: #000;
}

table.stock-information td:nth-child(1) {
    color: #0d507b;
    font-weight: 600;
    padding: 5px 10px 0px;
}

table a {
    color: #e9188c;
    text-decoration: none;
    font-weight: 600;
	cursor: pointer;
}

table td {
	padding: 5px;
}


table.recent-news tr:first-child td,
table.upcoming-events tr:first-child td,
table.recent-presentations tr:first-child td,
table.selected-fillings tr:first-child td {
    color: #0d507b;
	font-weight: 600;
}


/* #root {
	overflow: auto;
	height: 100vh;
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
} */

/* .navbar {
	background: #90a7c93d;
} */

/* .navbar.active {
    background: #3b527473;
}

.navbar.active ul li a {
    color: white;
}

.navbar.active ul li:hover a {
    color: #0d507b;
} */






/* Slider */

.slide h1 {
	transition: all 0.3s ease;
	-webkit-transform: translateY(-20px);
					transform: translateY(-20px);
	opacity: 0;
}

.slide button {
	transition: all 0.3s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
}

.slide p {
	transition: all 0.3s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
}

.slide section * {
	transition: all 0.3s ease;
}

.slide section img {
	-webkit-transform: translateX(-10px);
					transform: translateX(-10px);
	opacity: 0;
}

.slide section span {
	-webkit-transform: translateY(-10px);
					transform: translateY(-10px);
	opacity: 0;
}

.slide section span strong {
	-webkit-transform: translateY(10px);
					transform: translateY(10px);
	opacity: 0;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,
.slide.animateIn.previous button,
.slide.current button,
.slide.animateIn.next button,
.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p,
.slide.animateIn.previous section *,
.slide.current section *,
.slide.animateIn.next section * {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: .9s;
					transition-delay: .9s;
					opacity: 1;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
	-webkit-transition-delay: 1.1s;
					transition-delay: 1.1s;
}

.slide.animateIn.previous button,
.slide.animateIn.next button {
	-webkit-transition-delay: 1.3s;
					transition-delay: 1.3s;
}

.slide.animateIn.previous section img,
.slide.animateIn.next section img {
	-webkit-transition-delay: 1.3s;
					transition-delay: 1.3s;
}

.slide.animateIn.previous section span,
.slide.animateIn.next section span {
	-webkit-transition-delay: 1.4s;
					transition-delay: 1.4s;
}

.slide.animateIn.previous section span strong,
.slide.animateIn.next section span strong {
	-webkit-transition-delay: 1.5s;
					transition-delay: 1.5s;
}

.slide.animateOut h1 {
	-webkit-transition-delay: .3s;
					transition-delay: .3s;
}

.slide.animateOut p {
	-webkit-transition-delay: .2s;
					transition-delay: .2s;
}

.slide.animateOut section span {
	-webkit-transition-delay: .1s;
					transition-delay: .1s;
}

.slide.animateOut section span strong {
	-webkit-transition-delay: 0s;
					transition-delay: 0s;
}